<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/admin/user/edit}" method="post"  >

	<div>
		<label>id :</label>
		<input type ="text" name ="id"  th:value ="${user.id}" placeholder ="Enter id ...."  >
	</div> 
	 <div>
		<label>Name :</label>
		<input type ="text" name ="name" th:value ="${user.getName}" placeholder ="Enter name ....">
	</div> 
	<div>
		<label>Username :</label>
		<input type ="text" name ="username" th:value ="${user.getUsername}" placeholder ="Enter username....">
	</div> 
	<div>
		<label>Password :</label>
		<input type ="text" name ="password" th:value ="${user.getPassword}" placeholder ="Enter password ....">
	</div> 
	<div>
		<label>Email :</label>
		<input type ="text" name ="email" th:value ="${user.getEmail}" placeholder ="Enter email ....">
	</div>
	<button type="submit">Save</button>

</body>
</html>